In [40]:
import numpy as np
import pandas as pd

hist = np.array([2, 2, 1, 3, 3, 3, 2, 2.2, 3, 3.1, 3, 2, 1.9, 3, 3, 2.5, 2, 3, 3, 2.8])

In [64]:
hist = hist*18.182

print(['f{}'.format(i) for i in range(20)])
print(list(range(20)))

['f0', 'f1', 'f2', 'f3', 'f4', 'f5', 'f6', 'f7', 'f8', 'f9', 'f10', 'f11', 'f12', 'f13', 'f14', 'f15', 'f16', 'f17', 'f18', 'f19']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

{0: 'f0',
 1: 'f1',
 2: 'f2',
 3: 'f3',
 4: 'f4',
 5: 'f5',
 6: 'f6',
 7: 'f7',
 8: 'f8',
 9: 'f9',
 10: 'f10',
 11: 'f11',
 12: 'f12',
 13: 'f13',
 14: 'f14',
 15: 'f15',
 16: 'f16',
 17: 'f17',
 18: 'f18',
 19: 'f19'}

In [54]:
df = pd.DataFrame(hist)

In [68]:
df.rename( index =  dict(zip(list(range(20)),['f{}'.format(i) for i in range(20)])), inplace = True )

print(df.transpose())

      NaN      f1      f2      f3      f4      f5      f6       f7      f8  \
0  36.364  36.364  18.182  54.546  54.546  54.546  36.364  40.0004  54.546

        f9     f10     f11      f12     f13     f14     f15     f16     f17  \
0  56.3642  54.546  36.364  34.5458  54.546  54.546  45.455  36.364  54.546

      f18      f19
0  54.546  50.9096

In [70]:
df.describe()

               0
count  20.000000
mean   45.909550
std    10.746502
min    18.182000
25%    36.364000
50%    52.727800
75%    54.546000
max    56.364200